.date-body {
	width: 250px;
}
.date-span {
	font-size: 11px;
	// margin: 0px 26px 0px 0px;
}
.day-span {
	font-size: 11px;
	margin: 0px 9px 0px 0px;
	text-align: center;
}
.calendar-td {
	width: 35px;
	height: 35px;
	text-align: center;
}